<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios@1.6.8/dist/axios.min.js"></script>
</head>

<body>
    <script src="https://unpkg.com/vue@3.4.27/dist/vue.global.js"></script>
    <div id="app">
        <input type="number" placeholder="inserire numero mail" v-model="numero" @keyup.enter="chiamaMail()">

        <ul>
            <li v-for="element in lista">
                {{element}}
            </li>
        </ul>
    </div>
    <script src="main.js"></script>
</body>

</html>